/* Variables */

$main-purple: #330A8B;
$light-purple: #4104C2;
$dark-purple: #1F0062;
$grey: #828F92;
$text-grey: #E5E5E5;
$pink: #DC2064;

$main-font: 'Poppins', sans-serif;
$footer-font: 'Roboto', sans-serif;
$stats-font: 'Roboto Mono', sans-serif;

$bold: 600;
$transition-time: 0.35s;


body {
	margin: 0;
	font-family: $main-font;
	color: $text-grey;
	font-size: 14px;
	line-height: 2;	
    background-color: $main-purple;
	background-image: url('../images/bg-img.jpg'); 
	background-repeat: no-repeat;
  	background-position: top;
  	background-size: contain;
	background-repeat: no-repeat;

	&:before {
	    content: " ";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    background: -moz-linear-gradient(top, rgba(51,10,139,0.6) 0%, rgba(51,10,139,1) 55%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(51,10,139,0.6) 0%,rgba(51,10,139,1) 55%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(51,10,139,0.6) 0%,rgba(51,10,139,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99330a8b', endColorstr='#330a8b',GradientType=0 ); /* IE6-9 */
	}
}

h1, h2, h3, h4 {
	color: #fff;
	margin: 0;
}

h1 {
	font-size: 4rem;
	font-weight: $bold;
	line-height: 1.5;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

h3 {
	font-size: 20px;
}

p {
	margin: 0;
}

a {
	color: $text-grey;
	transition: color $transition-time;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}